<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script>
    <title>Course Management</title>
    <style>
      .active {
        background-color: #4c51bf;
      }
    </style>
  </head>
  <body class="font-sans bg-gray-50 flex">
    <div class="flex h-screen w-full">
      <!-- Sidebar -->
      <div
        class="w-72 bg-indigo-700 text-white shadow-lg transition-all duration-300"
      >
        <div class="flex items-center justify-between px-4 py-6">
          <h3 class="text-2xl font-semibold">Course Management</h3>
          <label for="sidebar-toggle" class="cursor-pointer">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16m-7 6h7"
              />
            </svg>
          </label>
        </div>

        <button
          hx-get="/addpage"
          hx-target="#content"
          hx-swap="innerHTML"
          class="block py-3 px-4 text-lg font-medium text-gray-100 hover:bg-indigo-800 transition-colors w-full active"
          onclick="highlightActive(this)"
        >
          Dashboard
        </button>

        <div class="mt-4">
          {{range .}}
          <button
            hx-get="/data"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-vals='{"contentType": "{{ . }}"}'
            class="block py-3 px-4 text-lg font-medium text-gray-100 hover:bg-indigo-800 transition-colors w-full"
            onclick="highlightActive(this)"
          >
            View {{.}}s
          </button>
          {{end}}
        </div>
      </div>

      <!-- Main Content Area -->
      <div
        class="flex-1 p-6 overflow-auto"
        id="content"
        hx-get="/addpage"
        hx-trigger="load"
        hx-target="this"
        hx-swap="innerHTML"
      >
        <!-- The dynamic content will be injected here -->
      </div>
    </div>

    <script>
      function highlightActive(button) {
        let buttons = document.querySelectorAll(".w-full");
        buttons.forEach((btn) => {
          btn.classList.remove("active");
        });

        button.classList.add("active");
      }
    </script>
  </body>
</html>
