<div
  class="py-4 px-6 bg-white shadow-lg rounded-lg max-h-[28rem] overflow-y-auto"
>
  <table
    class="min-w-full table-auto border-collapse border border-gray-300 bg-white"
  >
    <thead class="bg-indigo-600 text-white">
      <tr class="sticky top-0 bg-indigo-600">
        <th class="px-6 py-3 text-left text-sm font-semibold">Table</th>
        <th class="px-6 py-3 text-left text-sm font-semibold">
          Number of Items
        </th>
      </tr>
    </thead>
    <tbody>
      {{range .}}
      <tr class="hover:bg-indigo-50">
        <td class="px-6 py-4 text-sm text-gray-700">{{.TableName}}</td>
        <td class="px-6 py-4 text-sm text-gray-700">{{.Count}}</td>
      </tr>
      {{else}}
      <tr>
        <td colspan="2" class="px-6 py-4 text-sm text-gray-500 text-center">
          No data available
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
